.text-green{
    color: green !important;
}
.text-red{
    color: red !important;
}
.btn-default{
    border-color: lightgrey;
}
.btn-default:hover{
    background: lightgrey;
}
.fa-edit{
    color:#000;
}
.fa-trash{
    color:#000;
}